<template>
    <div id="hellow">
         <h1>{{title}}</h1>
    </div>
</template>

<script>
    export default {
        name: "root",
        data(){
            return {
                title: 'main page'
            }
        }
    }
</script>

<style scoped>
    h1{
        color: blue;
        font-size: larger;
    }
</style>